<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png" alt="">
  </div>

  <div class="big-card__title">
    <h1>
      <a href="#">
        New Angular Version was released
      </a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas officiis animi quod doloremque libero voluptate
        odio, aperiam tempora quos repellendus nostrum? Iusto nostrum porro, culpa perspiciatis quos tenetur laborum
        repudiandae?
      </a>
    </p>
  </div>
</div>
