.container__small-card {
  margin-bottom: 15px;
  width: 100%;
  height: 34%;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__picture > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card-separator{
  margin-top: 10px;
}
