<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id= "1"
      bigCardPicture="https://media.contentapi.ea.com/content/dam/news/www-ea/common/ea-motive-new-title-teaser-16x9.jpg.adapt.1456w.jpg"
      bigCardTitle="New Angular Version Was Released" bigCardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas officiis animi quod doloremque libero voluptate
    odio, aperiam tempora quos repellendus nostrum? Iusto nostrum porro, culpa perspiciatis quos tenetur laborum
    repudiandae?"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    id="2"
    smallCardPicture="https://cdn.marvel.com/content/1x_masonry/gotg_vol3_1080x1920_reald_digitalposter_v5.jpg"
    smallCardTitle="Guardian of The Galaxy Vol.3"
    ></app-small-card>
    <app-small-card
    id="3"
    smallCardPicture="https://cdn.marvel.com/u/prod/marvel/i/mg/3/e0/63b476756e35b/clean.jpg"
    smallCardTitle="The Invincible Iron Man"
    ></app-small-card>
    <app-small-card
    id="4"
    smallCardPicture="https://cdn.marvel.com/u/prod/marvel/i/mg/1/20/526177e9249e3/clean.jpg"
    smallCardTitle="Amazing Spiderman and Nightcrawler"
    >
    </app-small-card>
  </div>
</div>
